@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
img {
    display: block;
    width: 100%;
    object-fit: cover;
}
h1,
h3 {
    font-family: "Oswald", sans-serif;
    text-align: ;
}

* {
    box-sizing: border-box;
}
body {
    padding: 10px;
    font-family: sans-serif;
}

#s1 {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
    background-color: rgb(185, 195, 195);
}

p {
    background-color: rgb(185, 195, 195);
}
