.post-it {
    background-color: rgb(243, 243, 243);
    width: 200px;
    height: 200px;
    padding: 24px;
    margin: 24px;
    vertical-align: top;
    display: inline-block;
}

.blue {
    background-color: skyblue;
}

.red {
    background-color: rgb(183, 53, 53);
}

.yellow {
    background-color: rgb(252, 252, 90);
    width: 250px;
    height: 350px;
}

.polariod {
    background: #f7f5f5;
    padding: 70px;
}

.p-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 40px;
}

.purple {
     background-color: rgb(149, 105, 149);
     text-align: center;
}

.green {
    background-color: rgb(97, 135, 97);
}