/*
    Shorthand margin/padding can have up to 4 values.
 
    1 Value Margin/Padding: targets all 4 sides of an element.
 
    2 Vaue Margin/Padding: The first value targets the top AND bottom.
    The second value targets the left AND right.
 
    3 Value Margin/Padding: The first value targets the top. The
    second value targets the left AND right. The third value targets
    the bottom.
 
    4 Value Margin/Padding: The first value targets the top. The
    second value targets the right. The third value targets the
    bottom. The fourth value targets the left.
*/
div {
    border: 10px dashed red;
    margin: 24px;
    padding: 24px 48px;
    background-color: #ffeadc;  
}

p {
    background-color: #d2d2ff;
    margin: 60px;
    padding: 48px 60px;
    border: 2px solid #5858ff;
    border-radius: 24px 50px 100px;
}