#sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;
}

.chapter {
    font-weight: bold;
    font-size: 24px;
}

.edit {
    color: orange;
    font-style: italic ;
}

#sidebar h4 {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline 3px;
    text-underline-offset: 15px;
}