#navbar {
    background-color: rgb(0, 0, 0);
    display: flex;
    gap: 170px;
    align-items: center; 
    justify-content: center;
    padding-bottom: 2%;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: large;
}

#hero {
    background-image: url("../images/urban-hi-res-1ui7.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    color: white;
    text-align: center;
}
.content h1 {
    font-size: 60px;
}
.content a {
    color: white;
    text-decoration: none;
    background-color: rgb(124, 20, 20);
    padding: 10px 40px;
    display: inline-block;
    border-radius: 20px;
}

.hm-gal {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.hm-gal img {
    flex: 1;
    height: 250px;
    
}

.hm-gal {
    display: flexbox;
    border: 25px solid #000;
    padding: 25px;
    background-color: #000;
}