* {
    box-sizing: border-box;
    padding: 0px;
}
body { 
   font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
.single-column {
    margin: 0px auto;
    width: 90%;
    max-width: 1200px;
}

.sbs {
    display: flex;
    gap: 25px;
    padding: 50px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.sbs img {
    height: 100%;
}

.card-container {
    display: flex;
    justify-content: space-between;
}
.card {
    flex: 1;
    border: 3px solid #000000;
    padding: 36px;2
    text-align: center;
    margin: 36px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}